body{
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
    font-weight: 600;
    background-color: #006400;
    color: #fff;
    scroll-behavior: smooth;
}
header{
    margin: 0 auto;
    background-color: #F25c27;
    text-align: center;
    border: 2px outset #191919;
    height: 10vh;
}
.headline{
    font-size: 1.8em;
    color: #fff;
    letter-spacing: 0.7px;
    background-color: #F25c27;
    text-shadow: 2.77px 2.22px 3.44px #191919;
    text-transform: uppercase;
    animation-name: xy;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes xy{
    0% {margin-left: 1.67%; text-shadow: 1.77px 2.22px 3.44px #000;}
    33% {margin-right: 1%; text-shadow: 2.77px 0.72px 4.84px #000; letter-spacing: 0.72px;}
    51% {margin-left: 1%; text-shadow: 1.57px 1.22px 3.44px #191919; letter-spacing: 0.98px;}
    87% {margin-right: 1%; text-shadow: 2.77px 0.22px 4.94px #fff;letter-spacing: 0.89px;}
    66% {margin-left: 1%; color: #fff; text-shadow: 3.77px 1.22px 2.44px #000; letter-spacing: 0.69px;}
    99% {margin-right: 1%; color: black;}
}
main{
    height: 83vh;
    background-image: url("../img/goal.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
#info {
    position: fixed;
    top: 20vh;
    left: 100%;
    width: 95%;
    height: 65%;
    text-align: center;
    background-color: #191919;
    border: 2.78px outset #f25c26;
    color: #fff;
    text-shadow: 1.97px 2.72px 3.44px #191919;
    border-radius: 37px;
    z-index: 1;
}
@keyframes start {
    to {left: 5%}
}
@keyframes continue {
    to {left: 100%}
}
@keyframes goal {
    0% {background-color: transparent; color: transparent;}
    10%,25%,40%,55%,70%,85%,100% {left: 5%; background-color: transparent; color: red}
    5%,20%,35%,50%,65%,80%,95% {left: 5%; background-color: transparent; color:  #f25c27;}
    10%,25%,40%,55%,70%,85%,97% {left: 5%; background-color: transparent; color: rgba(245, 241, 24, 0.965)}
    10%,25%,40%,55%,70%,85%,98% {left: 5%; background-color: transparent; color: #fff }
    15%,30%,45%,60%,75%,90% {left: 5%; background-color: transparent; color: #3dd7ac }
    10%,25%,40%,55%,70%,85%,99% {left: 5%; background-color: transparent; color: #000}
}
#info_text {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 95%;
    height: 65%;
    color: #fff;
    font-size: 2em;
    padding-right: 5px;
    padding-left: 5px;
}
#start_btn {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 40%;
    background-color: #F25c21;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}
#start_btn:hover{
    background-color: #000;
    border: 1.7px outset #fff;
    box-shadow: 1px 2px 2px gold;
    color: #fff;
    transition: ease 0.8s;
    transform: translateZ(5%);
}
#screen {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 17vh;
    border: 2px outset #000;
    text-shadow: 1.77px 2.92px 3.44px #191919;
    color: #fff;
}
#user {
    background-color: #212529;
    height: 100%;
    width: 30%;
    flex-grow: 1;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
}
#pc {
    background-color: #3dd7ac;
    height: 100%;
    width: 30%;
    flex-grow: 1;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
}
@keyframes appear {
    to {color: #fff}
}
#us, #pcs {
    position: absolute;
    transform: translate(-50%,-50%);
}
#field {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#keeper {
    position: absolute;
    bottom: 25%;
    left: 58%;
    width: 27.5%;
    height: 27.5%;
    transform: translateX(-37%);
}
#ball {
    position: absolute;
    text-align: center;
    bottom: 1.27%;
    left: 51%;
    transform: translateX(-40%);
    width: 17%
}
button {
    position: absolute;
    width: 19.7%;
    height: 9.8vh;
    color: #000;
    cursor: pointer;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 400;
    text-shadow: 0.7px 0.92px 0.64px #fff;
}
#kick {
    background-color: #f25c27;
    text-shadow: 0.7px 0.92px 0.64px #000;
    height: 10%;
    width: 18%;
    left: 50.5vw;
    bottom: calc(-25.75vh + 4vh + 1vh + 8vh + 2vh);
    font-size: 1.27em;
    border-radius: 8%
}
#kick:hover {
    color: #fff;
    text-shadow: 0.8px 1px 0.77px #fff;
    transition: 0.7s ease-in;
    background-color: black;
}
#tl {
    bottom: calc(-10vh + 8vh + 1vh);
    left: 10.5vw;
    border: 1.6px outset #212529;
    box-shadow: 0.5px 1px 1px #000;
}
#bl {
    bottom: -10vh;
    left: 10.5vw;
    border: 1.6px outset #212529;
    box-shadow: 0.5px 1px 1px #000;
}
#c {
    bottom: calc(-15vh + 4vh + 0.5vh);
    left: 30.5vw;
    border: 1.7px outset #006400;
    box-shadow: 1px 2px 3px #fff;
    border-radius: 4%;
}
#tr {
    bottom: calc(-10vh + 8vh + 1vh);
    right: 10.5vw;
    border: 1.6px outset #212529;
    box-shadow: 0.5px 1px 1px #000;
}
#br {
    bottom: -10vh;
    right: 10.5vw;
    border: 1.6px outset #212529;
    box-shadow: 0.5px 1px 1px #000;
}
@keyframes BTL {
    10% {left: 16%; bottom: 40%; transform: scale(0.7,0.7) translateX(-50%)}
    100% {left: 16%; bottom: 45%; transform: scale(0.7,0.7) translateX(-50%)}
}
@keyframes BTR {
    10% {left: 75%; bottom: 40%; transform: scale(0.7,0.7) translateX(-50%)}
    100% {left: 78%; bottom: 45%; transform: scale(0.7,0.7) translateX(-50%)}
}
@keyframes BC {
    10% {left: 48%; bottom: 30%; transform:  scale(0.7,0.7) translateX(-30%)}
    100% {left: 48%; bottom: 30%; transform: scale(0.7,0.7) translateX(-60%)}
}
@keyframes BBL {
    10% {left: 17%; bottom: 21%; transform:  scale(0.7,0.7) translateX(-50%)}
    100% {left: 17%; bottom: 21%; transform: scale(0.7,0.7) translateX(-50%)}
}
@keyframes BBR {
    10% {left: 79%; bottom: 21%; transform: scale(0.7,0.7) translateX(-50%)}
    100% {left: 79%; bottom: 21%; transform: scale(0.7,0.7) translateX(-50%)}
}
@keyframes KTL {
    10% {left: 16%; bottom: 40%; transform: scale(0.7,0.7) translateX(-50%)}
    100% {left: 16%; bottom: 45%; transform: scale(0.7,0.7) translateX(-50%)}
}
@keyframes KTR {
    10% {left: 75%; bottom: 40%; transform: translateX(-50%)}
    100% {left: 78%; bottom: 45%; transform: translateX(-50%)}
}
@keyframes KC {
    10% {left: 48%; bottom: 30%; transform:  scale(0.7,0.7) translateX(-55%)}
    100% {left: 50%; bottom: 30%; transform: scale(0.7,0.7) translateX(-45%)}
}
@keyframes KBL {
    10% {left: 17%; bottom: 21%; transform:  scale(0.7,0.7) translateX(-50%)}
    100% {left: 15%; bottom: 21%; transform: scale(0.7,0.7) translateX(-48%)}
}
@keyframes KBR {
    10% {left: 79%; bottom: 21%; transform: scale(0.7,0.7) translateX(-49%)}
    100% {left: 79%; bottom: 21%; transform: scale(0.7,0.7) translateX(-50%)}
}